
.auth {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.auth__item {
    padding: 20px;
}

.auth__item:first-child {
    width: 40%;
    background: url(../img/auth-bg.jpg) center center/cover no-repeat;
}

.auth__item:last-child {
    width: 60%;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.auth_subtitle {
    font-size: 16px;
}

.auth__title {
    font-family: "Yeseva One";
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}

.auth__form {
    min-width: 80%;
    padding: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.auth__form label {
    font-size: 16px;
}

.auth__form input[type^=submit] {
    margin-top: 33px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #15CFAD;
    border-radius: 5px;
    border: none;
}

.auth__form input[type^=checkbox] {
    margin-top: 20px;
}


.auth__inputData {
    width: 100%;
    padding: 0 25px;
    height: 60px;
    font-size: 14px;
    border: 1px solid #E8E8E8;
    margin-top: 7px;
    border-radius: 5px;
}

.auth__form p, .auth__form a {
    display: inline;
    font-size: 18px;
}

.auth__reg {
    margin-top: 34px;
    text-align: center;
}


