footer {
    min-height: 300px;
    background: #222831;
    padding: 50px 0 50px 0;
    position: relative;
    font-weight: 400;
}

.footer__text {
    margin-top: 20px;
    color: #959595;
    width: 400px;
    font-size: 16px;
}

.footer__copyrights {
    margin-top: 80px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__item {
    width: 300px;
}

.footer__item:nth-child(2) {
    text-align: center;
}

.footer__item h3 {
    color: #fff;
}

.footer__qa h2 {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color:#fff;
}

.footer__mail,
.footer__tel,
.footer__adress {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    color: #C5C5C5;
    margin-top: 10px;
}