.review {
    padding: 60px 0;
}

.review__subtitle {
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.review__item-wrapper {
    position: relative;
    height: 300px;
    padding: 100px 35px 50px 35px;
    margin: 30px 10px 50px 10px;
    background: rgba(196, 196, 196, 0.5);
    
}

.review__img {
    border-radius: 50%;
    position: absolute;
    top: -30px;
    width: 100px;
    height: 100px;
    z-index: 2000;
}

.review__img::after {
    content: url('../img/avatars/quote.svg');
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 3000;
}

.review__text {
    font-family: "Times";
    font-weight: 400;
    font-size: 25px;
}

.review__author {
    font-family: 'Yeseva One';
    font-size: 24px;
    margin-top: 50px;
    font-weight: 700;
}

.review__tour {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
}

.review__tour span {
    
    font-size: 18px;
    font-weight: 700;
}

.review__wrapper {
    margin-top: 40px;
    min-height: 400px;
    
}

.review__info {
    position: absolute;
    top: 30px;
    left: 180px
}

.review__info span {
    display: inline-block;
    color: #aaa;
    transform: translateY(-5px);
}

.review__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.review__btn {
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
