/*START SCREEN*/

#start {
    min-height: 100vh;
    background: url('../img/Background.jpg') center center/cover no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 57px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__item {
    font-size: 18px;
    margin-right: 60px;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #FFF;
}
.welcome {
    margin-top: 180px;
}
.welcome__text {
    font-family: "Yeseva One";
    font-size: 62px;
    color: #fff;
    margin-bottom: 32px;
}

header nav a:last-child {
    transform: translateY(-25%);
}

/* POPULAR TOURS */


#popular {
    min-height: 100vh;
    padding: 80px 0;
}

.tours {
    justify-content: center;
    align-items: center;
}

.tours__header {
    margin-bottom: 65px;
}

.tours__header h2 {
    font-family: "Abril Fatface";
    font-size: 58px;
    text-align: center;
}

.tours__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tours__item {
    min-width: 30%;
    background:coral;
}

